body {
  /* Позиционирование */
  /* Блочная модель */
  margin: 0; /*Контроль умолчаний*/
  padding: 0; /*Контроль умолчаний*/

  /* Типографика */
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #28211f;

  /* Оформление */
  background-color: #ffffff;

  /* Анимация */
  /* Разное */
}

.container {
  position: relative;

  width: 1270px;
  margin-left: auto;
  margin-right: auto;
}

.see-menu-link {
  padding: 20px 57px;

  color: #ffffff;
  font-family: lato, sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.33px;

  text-decoration: none;

  border: 2px solid #ffffff;
}

.see-menu-link:hover {
  color: #f5d76e;
  text-decoration: none;
  border-color: #f5d76e;
}
